body {
  background-color: #1F1300;
  color: #FFC15E;
}

h1{
  color: #CC5803;
  text-align: center;
}

h2{
  color: #F7934C;
}

img{
  border-radius: 10%;
  background-color:#F7B05B;
  padding: 10px;

}

#name{
  color: #F7B05B;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#born-state{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* #pride{
  font-family: monospace;
  font-size: 20px;
} */

/* .html{
  font-size: 40px;
}

.java{
  font-size: 35px;
}

.c{
  font-size: 30px;
}

.ouvinte{
  font-size: 25px;
}

.assertivo{
  font-size: 18px;
} */
.abilities li:nth-child(odd){
  font-style: italic;
}

#header{
  width: 80%;
  margin: auto;
  
}
.header-content{
  width: 35%;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 30px;
}
.photo{
  margin-left: 20px;
}

.description{
  margin-left: 10px;
}